@{
    ViewData["Title"] = "Vehicles crud with api";
}

    <h1>To-do CRUD</h1>
    <h3>Add</h3>
    <form action="javascript:void(0);" method="POST" onsubmit="addItem()">
        <input type="text" id="add-name" placeholder="New to-do">
        <input type="submit" value="Add">
    </form>

    <div id="editForm" style="display: none;">
        <h3>Edit</h3>
        <form action="javascript:void(0);" onsubmit="updateItem()" >
            <input type="hidden" id="edit-id">
            <input type="checkbox" id="edit-isComplete" style="cursor: pointer;">
            <input type="text" id="edit-name">
            <input type="submit" value="Save">
            <a onclick="closeInput()" aria-label="Close" style="cursor: pointer;">&#10006;</a>
        </form>
    </div>

    <p id="counter"></p>

    <table>
        <tr>
            <th>Is Complete?</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tbody id="todos">

        </tbody>
    </table>

@section Scripts {

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',()=>{
            getItems();
        });
        
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
