
@{
    ViewData["Title"] = "Confirm User";
}

<h1>User confirmation info</h1>


@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

